<section>
    <div class="container-photos">



        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>

        <div class="photo" style="background-image: url('../../../../assets/img/test.jpg');">
            <div class="likes">
                <span class="material-icons">
                    remove_red_eye
                </span>
                432
            </div>
        </div>



    </div>
</section>